*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(19, 19, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: rgb(129, 129, 129);
}

li{
    display: block;
    width: 33%;
    padding: 26px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: rgb(51, 51, 51);
}